.container {
  min-height: 100vh;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #3367d6;
  margin-bottom: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.heading {
  font-family: 'Roboto';
  color: white;
  margin: 0 0 15px 0;
}

.searchcontainer {
  display: flex;
  align-items: center;
  background-color: #2850a7;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
  max-width: 400px;
}

.searchicon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.searchinput {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-family: 'Roboto';
  width: 100%;
}

.searchinput::placeholder {
  color: #ececec;
}

.resultscontainer {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.historylist {
  list-style-type: none;
  padding: 0;
}

.nohistory {
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
}

.theme-toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.theme {
  width: 30px;
  height: 30px;
  margin: 0px;
}

.themeName{
  margin: 1px;
}


.light-theme {
  background-color: #f8fafc; 
  color: #1e293b;
}

.light-theme .resultscontainer {
  background-color: #ffffff;
}

.light-theme .nohistory {
    color: #475569;
}


.dark-theme {
  background-color: #0f172a;
  color: #e2e8f0;
}

.dark-theme .resultscontainer {
  background-color: #1e293b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dark-theme .nohistory {
  color: #f8fafc;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 20px;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header-content {
    flex-direction: row;
    width: auto;
    margin-bottom: 0;
  }
  .searchcontainer {
    position: static;
    transform: none;
    margin: 0 auto;
    width: 400px;
  }
  .heading {
    margin: 0;
    position: absolute;
    left: 20px;
  }
  .theme-toggle-btn {
    position: static;
    margin-left: auto;
  }
}